<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
	<nav th:replace="layouts :: navbar"></nav>
    <div class="container">
    	<h4>Current Employees</h4>
    	<hr/>
    	<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">New Employee</a>
    	<table class="table-bordered table-striped">
    		<thead class="thead-dark">
    			<tr>
    				<th>FirstName</th>
    				<th>LastName</th>
    				<th>email</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="field: ${employeeList}">
    				<td th:text="${field.firstName}"></td>
    				<td th:text="${field.lastName}"></td>
    				<td th:text="${field.email}"></td>
    			</tr>
    		</tbody>
    	</table>
    </div>

  </body>
</html>